<% layout('layout') -%>
<% block('title', message) -%>

<h1>Извините произошла ошибка:</h1>
<h2>
  <% if (status) { %>(<%= status %>)<% } %> <%= message %>
</h2>
<br>
<pre style="padding-left: 20px"><%= error %></pre>
