<% layout('layout') -%>
<% block('title', "BattleShip") -%>
<% block('username', user && user.getFullName()) -%>
<% script('/js/script.js') -%>

<div class="row">
    <div class="col-md-6">
        <div id="battlefield-placeholder"></div>
    </div>
    <div class="col-md-6">
        <div id="port"></div>
    </div>
</div>