<% layout('layout/page') -%>

<div class="row">
    <div class="col-md-6">
        <div id="battlefield-placeholder"></div>
    </div>
    <div class="col-md-6">
        <div id="port"></div>
    </div>
</div>