<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BattleShip</title>
    <!-- stylesheet -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <!-- libs -->
    <script src="/js/lib/cookieService.js"></script>
    <script src="/js/lib/dragAndDropUtils.js"></script>
    <script src="/js/lib/handlebars.js"></script>
    <script src="/js/lib/util.js"></script>
    <!-- dragAndDrop -->
    <script src="/js/dragAndDrop/dragManager.js"></script>
    <script src="/js/dragAndDrop/dragAvatar.js"></script>
    <script src="/js/dragAndDrop/dragZone.js"></script>
    <script src="/js/dragAndDrop/dropTarget.js"></script>
    <script src="/js/dragAndDrop/shipDragAvatar.js"></script>
    <script src="/js/dragAndDrop/portDragZone.js"></script>
    <script src="/js/dragAndDrop/shipDropTarget.js"></script>
</head>
<body class="body">
<%- partial('partials/topNavigation') %>
<ul id="dragMonitor" style="position: absolute; left: 5px; top: 60px"></ul>
<div class="container">
    <%- body %>
</div>
<div id="point">
    <span style="position: absolute; left: -17px; top: 17px; font: 10px monospace; width: 100px;"></span>
</div>
<div id="muc"></div>

<script id="battlefield-cell-template" type="text/x-handlebars-template">
    <td class="battlefield-cell battlefield-cell-empty" data-y="{{row}}" data-x="{{col}}">
        <div class="battlefield-cell-content">{{{cellLabel}}}</div>
    </td>
</script>
<script id="port-line" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-md-12">
            {{#each ships}}
                <div class="port-ship" style="width: {{width}}em; height: {{height}}em; padding-right: {{paddingRight}}px; padding-bottom: {{paddingBottom}}px;">
                    <div data-id="{{id}}" data-length="{{size}}" data-position="{{position}}" class="{{className}}" style="width: {{width}}em; height: {{height}}em; padding-right: {{paddingRight}}px; padding-bottom: {{paddingBottom}}px;"></div>
                </div>
            {{/each}}
        </div>
    </div>
</script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/templates.js"></script>
<script src="/js/constants.js"></script>

<script src="/js/utils/gameUtils.js"></script>
<script src="/js/utils/shipUtils.js"></script>
<script src="/js/utils/dropZoneUtils.js"></script>

<script src="/js/entity/battleField.js"></script>
<script src="/js/entity/port.js"></script>
<script src="/js/entity/ship.js"></script>
<%- scripts %>
</body>
</html>