<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= blocks.title %></title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>

    <script src="/js/lib/cookieUtils.js"></script>
    <script src="/js/handlebars.js"></script>
    <script src="/js/dragAndDropUtils/lib.js"></script>
    <script src="/js/dragAndDropUtils/dragManager.js"></script>
    <script src="/js/dragAndDropUtils/dragAvatar.js"></script>
    <script src="/js/dragAndDropUtils/dragZone.js"></script>
    <script src="/js/dragAndDropUtils/dropTarget.js"></script>
    <script src="/js/shipDragAvatar.js"></script>
    <script src="/js/portDragZone.js"></script>
    <script src="/js/shipDropTarget.js"></script>
</head>
<body class="body">
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Battle ship</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><%= blocks.fullName %></a></li>
                    <li class="active"><a href="login">Sign in</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <%- body -%>
</div>
<div id="point"></div>

<script id="battlefield-cell-template" type="text/x-handlebars-template">
    <td class="battlefield-cell battlefield-cell-empty" data-y="{{row}}" data-x="{{col}}">
        <div class="battlefield-cell-content">{{{cellLabel}}}</div>
    </td>
</script>
<script id="port-line" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-md-12">
            {{#each ships}}
            <div class="port-ship"
                 style="width: {{width}}em; height: {{height}}em; padding-right: {{paddingRight}}px; padding-bottom: {{paddingBottom}}px;">
                <div data-id="{{id}}" data-length="{{size}}" data-position="{{position}}" class="{{className}}"
                     style="width: {{width}}em; height: {{height}}em; padding-right: {{paddingRight}}px; padding-bottom: {{paddingBottom}}px;"></div>
            </div>
            {{/each}}
        </div>
    </div>
</script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<%- scripts %>
</body>
</html>